<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor="pink">
    <a href="/collage/home">home</a>
    <a href="/collage/about">about</a>
    <a href="/collage/courses">courses</a>
    <a href="/collage/faculty">faculty</a>
    <a href="/collage/contact">contact us</a>

    <hr size = "4" color="red" bgcolor = "green">

    <h1>
        this is my collage : about page
    </h1>
    
</body>
</html>