<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor="red">
    <a href="/collage/home">homepage</a><br>
    <a href="/collage/about">aboutpage</a><br>
    <a href="/collage/course">coursepage</a><br>
    <a href="/collage/fees">feespage</a><br>
    <a href="/collage/faculty">facultypage</a><br>
    <hr size="3" color="yellow">
    <h1>faculty page here</h1>
</body>
</html>