<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor="blue">

    <a href="/Pro/home">Home</a>
    <a href="/Pro/about">About</a>
    <a href="/Pro/insert">Insert</a>


    <h1>About Page</h1>
    <hr size="4" color="red">
    <table align="center" border="1" width="500px" bgcolor="yellow">
        <tr>
            <th>Name</th>
            <th>email</th>
            <th>delete</th>
            <th>update</th>
        </tr> 
        <tr>
            <%
            mydata.forEach(key=>{
                %>
                <td><%= key.name %></td>
                <td><%= key.email %></td>
                <td>
                    
                        <form action="/Pro/delete/<%= key._id %>" method="POST">
                            <button type="submit">Delete</button>
                        </form>
                    
                </td>
                <td>
                    <a href="/Pro/edit/<%= key._id %>">Update</a>
                </td>
        </tr>

           <%
            })
            %>

    </table>

</body>
</html>