<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor="blue">
    
    <a href="/Pro/home">Home</a>
    <a href="/Pro/about">About</a>
    <a href="/Pro/insert">Insert</a>

    <h1>Insert page</h1>
    <hr size="4" color="red">
    <form method="post" action="/Pro/save">
        my name:<input type="text" name="name"/><br> 
        my email:<input type="text" name="email"/><br> 
        <button>save</button>

    </form>

</body>
</html>