<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor="pink">

    <a href="/students/home">home</a>
    <a href="/students/insert">insert</a>
    <a href="/students/display">display</a>
  
     <hr size="4" color="red">
     <h1>student data insert</h1>
   <form method ="post" action ="/students/save">
   enter rollnumber:<input text = "text" name="rollnumber"> <br>
   enter name:<input type = "text" name="name"> <br>
  enter  city:<input type = "text" name="city"> <br>
   enter fees:<input type = "text" name="fees"> <br>
    <button>save</button>
</form>
     <hr size="4" color="red">
    
</body>
</html>