<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor="pink" >
    <a href="/Product/home">Home</a>
    <a href="/Product/about">About</a>
    <a href="/Product/insert">Insert</a>
    
    <h1>Home Page</h1>
    <hr size="8" color="red">
</body>
</html>